<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.realworld.saveoursoul">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PhoneActivitySeven"></activity>
        <activity android:name=".PhoneActivitySix" />
        <activity android:name=".PhoneActivityFive" />
        <activity android:name=".PhoneActivityFour" />
        <activity android:name=".PhoneActivityThree" />
        <activity android:name=".PhoneActivityTwo" />
        <activity android:name=".VoicesActivites" />
        <activity android:name=".PhoneActivity" />
        <activity android:name=".VoiceActivity" />
        <activity android:name=".StartUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".WelcomeFirstTime" />
        <activity
            android:name=".MyAppConfig"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".SendSms"
            android:exported="false" />
        <service
            android:name=".SendSmsService"
            android:description="@string/service_description"
            android:exported="false" />
    </application>

</manifest>